<% if @article.errors.any? %>
  <h2>Ocurrieron los siguientes errores:</h2>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
  <% end %>
  </ul>  
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%=f.label :titulo %><br>
    <%=f.text_field :title%>
  </p>
  <p>
    <%= f.label :Descripcion %><br>
    <%=f.text_area :description %>
  </p>
  <p>
    <%=f.submit%>

  </p>

<%end%>

<%= link_to "Volver al Inicio", articles_path %>